<!-- 现有组织表列模板-->
<!--header start-->
<header class="content-header clearfix">
	<div class="content-title pull-left clearfix">
		<div class="helper-font-24 theme-color">
			<i class="fa fa-pencil"></i>
			<span>现有社团（{{organizations.length}}）</span>
		</div>
	</div>
	<div class="pull-right clearfix">
		<div class="search-form">
			<input type="text" name="keyword" class="search-box" placeholder="输入关键字" />
			<i class="fa fa-search"></i>
		</div>
		<button class="btn btn-primary btn-sm">导出名单</button>
	</div>
</header>
<div class="content-body">
	<div class="xx-orgs">
		<nav class="row no-margin nav-xx-label">
			<div class="row">
				<div class="col-xs-2">
					<span class="theme-color">社团目录</span>
				</div>
				<div class="col-xs-10">
					{{#link-to 'org.list' class='xx-label'}}全部{{/link-to}}
					{{#each assodirs}}
					{{#link-to 'org.search' name class='xx-label'}}{{name}}{{/link-to}}
					{{/each}}
				</div>
			</div>
		</nav>
		<section class="xx-list-content">
			{{#if organizations.length}}
			<div class="row no-margin">
				{{#each organizations}}
				<div class="col-xs-6 no-padding">
					<div class="xx-list-option org-option clearfix">
						<div class="pull-left focus xx-logo" style="background-image:url({{logo}}),url(images/default/2.png);">
							<div class="org-type-icon-wrapper right-bottom width30">
								<div class="org-type-icon academic"></div>
							</div>
						</div>
						<div class="info">
							<p class="name">
							<a {{bind-attr href=orgPage}}>
								<span class="theme-color xx-org">{{name}}</span>
							</a>
							</p>
							<p class="type">
							<span class="">{{type}}</span>
							</p>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<div class="row pageination-wrapper">
			</div>
			{{else}}
				<span>暂无下级组织！</span>
			{{/if}}
		</section>
	</div>
</div>