<header class="content-header clearfix">
	<div class="content-title pull-left clearfix">
		<div class="helper-font-24 theme-color"> <i class="fa fa-pencil"></i>
			<span>活动策划</span>
			<label>本项目由</label>
			<label class="theme-color"></label>
			<label>在</label>
			<label class="theme-color"></label>
			<label>进行最后修改。</label>
		</div>
	</div>
	<div class="pull-right clearfix">
		<button class="btn btn-xx-theme btn-sm">查看赞助状况</button>
	</div>
</header>
<div class="content-body">
	<form class="">
		<div class="input-group">
			<span class="input-group-addon theme-color">活动名称</span>
			<span class="form-control" name="name" id="A_NAME">{{name}}</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">活动地点</span>
			<span class="form-control" name="location" id="A_ADDRESS">{{location}}</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">活动时间</span>
			<div class="form-control">
				<div class="form-inline">
					<div class="form-group" >
						<div class="input-group width-140" >
							<span class="input-group-addon theme-color">从</span>
							<span class="form-control" style="width:150px;" name="begin">{{moment begin}}</span>
						</div>
					</div>
					<div class="form-group" >
						<div class="input-group width-140" >
							<span class="input-group-addon theme-color">至</span>
							<span class="form-control" style="width:150px;" name="end">{{moment end}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">预期人数</span>
			<span class="form-control" id="A_NUM" name="numberOfPeople">{{numberOfPeople}}</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">校校电子票</span>
			<span class="form-control" id="A_SEAT" name="numberOfPreservedSeats">{{numberOfPreservedSeats}}</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">活动类型</span>
			<div class="form-control">
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input" name="category" checked=isLecture }}
					<span>讲座</span>
				</label>
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input" name="category" checked=isParty }}
					<span>聚会</span>
				</label>
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input" name="category" checked=isPerformance }}
					<span>演出</span>
				</label>
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input" name="category" checked=isGame }}
					<span>赛事</span>
				</label>
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input" name="category" checked=isCommunity }}
					<span>公益</span>
				</label>
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input" name="category" checked=isRecruit }}
					<span>招新</span>
				</label>
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input" name="category" checked=isOthers }}
					<span>其他</span>
				</label>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">允许App报名</span>
			<div class="form-control">
				<div>
					<label class="prompt">选择否或者报名所需资料未勾选则个人用户不能在App端报名此活动。</label>
				</div>
				<label class="xx-input-label">
					{{input type="checkbox" disabled=true class="xx-input appJoin" name="appJoin" checked=hasSigningUpFields}}
					<span>是</span>
				</label>
				<label class="xx-input-label">
					{{input type="radio" disabled=true class="xx-input appJoin" name="appJoin" checked=noSigningUpFields}}
					<span>否</span>
				</label>
			</div>
		</div>
		<div class="input-group" id="thingsneeded">
			<span class="input-group-addon theme-color">报名所需资料</span>
			<div class="form-control">
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needName}}
					<span>姓名</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needNickname}}
					<span>昵称</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needStudentId}}
					<span>学号</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needPhoneNumber}}
					<span>手机</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needEmail}}
					<span>邮箱</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needSchool}}
					<span>学校</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needDepartment}}
					<span>学院</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needGrade}}
					<span>年级</span>
				</label>
				<label class="xx-input-label">
					{{input disabled=true type="checkbox" name="signUpFields" class="xx-input" checked=needMajor}}
					<span>专业</span>
				</label>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">活动预算</span>
			<div class="form-control" id="budgetContent">
				<div class="form-inline">
					<div class="form-group" >
						<div class="input-group">
							<span class="input-group-addon theme-color">总计&yen;</span>
							<span class="form-control" id="Total_Budget_Money">{{totalBudget}}</span>
						</div>
					</div>
					<label class="prompt">预算单价、数量、用途必填，否则不计入系统。</label>
				</div>
				{{#each budgets}}
				<div class="form-inline budget-box">
					<div class="form-group" >
						<div class="input-group width-140">
							<div class="input-group-addon theme-color">单价&yen;</div>
							<span class="form-control budget-money" style="width:100px;">{{amount}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group width-140">
							<div class="input-group-addon theme-color">数量</div>
							<span class="form-control budget-number">{{number}}</span>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon theme-color">用途</div>
							<span class="form-control budget-use">{{usage}}</span>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">活动海报</span>
			<div class="form-control">
				<div class="upload-file-box activity-bg">
					<div class="pull-left upload-file-wrapper">
						<div class="activity-img drag-to-upload img">
							{{#if poster}}
							<img {{bind-attr src=posterSrc}} />
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">活动简介</span>
			{{textarea value=description row="3" class="form-control" disabled=true}}
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">活动策划案</span>
			<div class="form-control">
				<div class="upload-file-box">
					<div class="pull-left upload-file-wrapper">
						<div class="xx-panel-container" id="attachmentsContainer">
							{{#if attachments}}
								{{#each attachments}}
							<div class="xx-panel-wrapper">
								<div class="xx-panel-content">
									<header class="xx-panel-header clearfix">
										<div class="xx-panel-title">{{filename}}</div>
									</header>
								</div>
							</div>
							{{/each}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon theme-color">发布版块</span>
			<div class="form-control">
				<div class="upload-file-box">
					<div class="pull-left upload-file-wrapper" >
						<div class="xx-panel-container" id="targetBoards">
							{{#each targets}}
							<div class="xx-panel-wrapper">
								<div class="xx-panel-content">
									<header class="xx-panel-header clearfix">
										<div class="xx-panel-title">{{name}}</div>
									</header>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>