<!--组织主页-->
<header class="content-header">
	<div class="home-org-bg xx-logo" style="background-image:url(images/default/bg01.jpg);"></div>
	<div class="home-org-base-info row no-margin">
		<div class="col-sm-2 col-xs-2 home-org-logo-wrapper">
			<div class="home-org-logo xx-logo xx-logo-100" style="background-image:url(/api/org/{{{ent.id}}}/logo?session={{session}}),url(images/default/3.png),url(images/default/31.jpg);">
				<img {{bind-attr src=ent.orgLogo}} style="width:100px;" />
			</div>
			<div class="org-type-icon-wrapper width30 right-bottom-20">
				<div class="org-type-icon academic"></div>
			</div>
		</div>
		<div class="col-sm-6 col-xs-6">
			<p>
				<h4 class="org-name xx-theme-color">{{ent.name}}</h4>
			</p>
		</div>
	</div>
</header>
<section class="content-body">
	<div class="home-org-description">{{ent.description}}</div>
	<div class="home-org-contact">
		<p>联系人：{{ent.contact}}</p>
		<p>联系邮箱：{{ent.email}}</p>
		<p>
	</div>
</section>